<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <a href="/">back to homepage</a>
  </div>
  <h1>All Users</h1>
  {{#each usersArrayWithBase64Image}}
    <div>
      <h3>{{this.email}}</h1>
      <img src="data:image/png;base64,{{this.image}}" alt="">
    </div>
  {{/each}}
  <div>
    <a href="/">back to homepage</a>
  </div>
</body>
</html>